<footer class="footer-section">
  <div class="footer-main-container">
    <div class="footer-main">
      <div class="container-bloc-left">
        <img
          srcset="../img/footer/broccoli-mobile@2x.png 2x"
          src="./img/footer/broccoli-mobile@1x.png"
          alt="brokkoli"
          width="335"
          height="175"
          class="footer-container-img-mobil"
        />
        <img
          srcset="../img/footer/broccoli@2x.png 2x"
          src="./img/footer/broccoli@1x.png"
          alt="broccoli"
          width="349"
          height="179"
          class="footer-container-img"
        />

        <div class="logo-container">
          <a href="index.html" class="footer-logo"><svg width="16" height="16" class="footer-logo-icon">
              <use href="../img/icons.svg#logo" class="footer-logo-icon-use"></use>
            </svg>
            <span class="footer-logo-text">veggieboost</span></a>
        </div>
      </div>
      <div class="footer-container">
        <ul class="footer-nav-list">
          <li class="footer-nav-last">
            <a href="" class="footer-nav-text">How It Works</a>
          </li>
          <li class="footer-nav-last">
            <a href="" class="footer-nav-text">Vegetables</a>
          </li>
          <li class="footer-nav-last">
            <a href="" class="footer-nav-text">Contacts</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container-bloc-right">
      <ul class="footer-soc-list">
        <li class="footer-soc-last">
          <svg width="24" height="24" class="footer-soc-icon">
            <use href="./img/icons.svg#facebook"></use>
          </svg>
        </li>
        <li class="footer-soc-last">
          <svg width="24" height="24" class="footer-soc-icon">
            <use href="./img/icons.svg#instagram"></use>
          </svg>
        </li>
        <li class="footer-soc-last">
          <svg width="24" height="24" class="footer-soc-icon">
            <use href="./img/icons.svg#youtube"></use>
          </svg>
        </li>
      </ul>

      <a class="footer-tell" href="tel:+380684439426">+380 (68) 443-94-26</a>
      <p class="footer-adress">
        1678 S. Pioneer Road Salt Lake City <br />
        UT 84104
      </p>
    </div>
  </div>
</footer>
