<header class="header">
    <div class="header-container">
      <nav class="header-nav">
        <ul class="header-list list">
          <li class="header-item">
            <a class="header-link link" href="#works">How It Works</a>
          </li>    
          <li class="header-item">
            <a class="header-link link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-item">
            <a class="header-link link" href="#contacts">Contacts</a>
          </li>
        </ul>
        <a href="./index.html" class="header-logo-svg link">
          <svg class="logo-svg" width="16" height="16">
            <use href="./img/icons.svg#logo"></use>
          </svg>
          <span class="header-logo-text">veggieboost</span>
        </a>       
      </nav>
      <button type="button" class="burger-btn btn js-open-menu">
        <svg class="burger-svg" width="24" height="24">
          <use href="./img/icons.svg#burger"></use>
        </svg>
      </button>
      <button type="button" class="shopp-btn btn" data-modal-open>
        <svg class="shopp-svg" width="24" height="24">
          <use href="./img/icons.svg#shopping-cart"></use>
        </svg>
      </button>    
    </div>
    <div class="mob-menu is-hidden container js-menu-container ">    
      <div class="mob-header">
        <div class="mob-logo-btn">
          <nav class="mob-header-nav">
              <a href="./index.html" class="header-logo-svg link">
                  <svg class="logo-svg" width="16" height="16">
                    <use href="./img/icons.svg#logo"></use>
                  </svg>
                  <span class="header-logo-text">veggieboost</span>
              </a>       
          </nav>
          <button type="button" class="mob-close-btn btn js-close-menu">
            <svg class="menu-close-btn-icon" width="24" height="24">
              <use href="./img/icons.svg#x"></use>
            </svg>
          </button>
        </div> 
      </div>     
      <div class="mob-menu-nav">
            <nav class="mob-nav">
              <ul class="mob-menu-list list">
                <li class="mob-nav-item">
                  <a class="mob-menu-link link" href="#works">How It Works</a>
                </li>
                <li class="mob-nav-item">
                  <a class="mob-menu-link link" href="#vegetables">Vegetables</a>
                </li>
                <li class="mob-nav-item">
                  <a class="mob-menu-link link" href="#contacts">Contacts</a>
                </li>          
              </ul>
              <button type="button" class="shopp-mob-btn btn" data-modal-open>
                <svg class="shopp-mob-svg" width="20" height="20">
                  <use href="./img/icons.svg#shopping-cart"></use>
                </svg>
              </button>        
            </nav>
       </div>    
    </div>
  </header>


