<section class="hero-section">
  <div class="hero-container">
    <ul class="reviews-list">
      <li class="reviews-item review-one">
        <img src="./images/rew1.png" alt="review1" width="40" />
      </li>
      <li class="reviews-item review-two">
        <img src="./images/rew2.png" alt="review2" width="40" />
      </li>
      <li class="reviews-item review-three">
        <img src="./images/rew3.png" alt="review3" width="40" />
      </li>
      <li class="reviews-item review-four">
        <div class="review-text">
          <span class="review-text-world">2k</span>
          reviews
        </div>
      </li>
    </ul>

    <h1 class="hero-title">
      Organic <span class="hero-veg">vegetables</span> to your diet today!
    </h1>
    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>

    <button type="button" class="hero-button">shop now</button>

    <picture>
      <source srcset="1x, 2x" media="(min-width: 1280px)" />

      <source srcset="1x, 2x" media="(min-width: 768px)" />
      <source srcset="1x, 2x" media="(min-width: 320px)" />
      <img src="" alt="Girl with salad leaves" width="515" />
    </picture>

    <ul class="hero-tag-list">
      <li class="hero-tag-item">
        <button type="button" class="hero-tag-button">&sharp;organic</button>
      </li>
      <li class="hero-tag-item">
        <button type="button" class="hero-tag-button">&sharp;products</button>
      </li>
      <li class="hero-tag-item">
        <button type="button" class="hero-tag-button">&sharp;basket</button>
      </li>
      <li class="hero-tag-item">
        <button type="button" class="hero-tag-button">&sharp;vegetables</button>
      </li>
    </ul>
  </div>
</section>
