<section class="hiw">
  <div class="hiw-main">
    <h2 class="hiw-main-title">
      To order your vegetable basket, simply follow these easy steps
    </h2>
    <img src="" alt="cabbage" class="hiw-main-img" />
  </div>
  <div class="hiw-main-text">
    <p class="hiw-text">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <p class="hiw-text">
      Whether you're looking for a healthy snack or a thoughtful gift, our fruit
      baskets are the perfect choice.
    </p>
  </div>

  <div class="hiw-second">
    <h2 class="hiw-second-title">3 Easy Steps for Buying Fresh Vegetables</h2>
    <ol class="hiw-list">
      <li class="hiw-list-item">
        Just choose the vegetable you want to order by clicking on the
        checkboxes next to it.
      </li>
      <li class="hiw-list-item">Click on the basket and fill out the form.</li>
      <li class="hiw-list-item">
        Sit back and relax! Your fresh vegetables basket will be delivered.
      </li>
    </ol>
    <img src="" alt="little girl with cabbage" class="hiw-second-img" />
  </div>
</section>
