<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="vegetables-title">Organic vegetables</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-card-list list">
      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Carrot</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/carrot.webp    1x,
                  ./img/vegetables/webp/carrot-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/webp/carrot-mob.webp    1x,
                  ./img/vegetables/webp/carrot-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./img/vegetables/carrot.png    1x,
                  ./img/vegetables/carrot-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/carrot-mob.png    1x,
                  ./img/vegetables/carrot-mob-2x.png 2x
                "
                type="image/png"
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/carrot.png"
                alt="Carrot"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">100 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Brussel sprouts</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/brussel.webp    1x,
                  ./img/vegetables/webp/brussel-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/webp/brussel-mob.webp    1x,
                  ./img/vegetables/webp/brussel-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./img/vegetables/brussel.png    1x,
                  ./img/vegetables/brussel-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/brussel-mob.png    1x,
                  ./img/vegetables/brussel-mob-2x.png 2x
                "
                type="image/png"
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/brussel.png"
                alt="Brussel sprouts"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">80 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Tomato</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/tomato.webp    1x,
                  ./img/vegetables/webp/tomato-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/webp/tomato-mob.webp    1x,
                  ./img/vegetables/webp/tomato-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./img/vegetables/tomato.png    1x,
                  ./img/vegetables/tomato-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/tomato-mob.png    1x,
                  ./img/vegetables/tomato-mob-2x.png 2x
                "
                type="image/png"
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/tomato.png"
                alt="Tomato"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">40 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Eggplant</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/eggplant.webp    1x,
                  ./img/vegetables/webp/eggplant-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/webp/eggplant-mob.webp    1x,
                  ./img/vegetables/webp/eggplant-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./img/vegetables/eggplant.png    1x,
                  ./img/vegetables/eggplant-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/eggplant-mob.png    1x,
                  ./img/vegetables/eggplant-mob-2x.png 2x
                "
                type="image/png"
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/eggplant.png"
                alt="Eggplant"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">60 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Sweet potatoes</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/potatoes.webp    1x,
                  ./img/vegetables/webp/potatoes-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/webp/potatoes-mob.webp    1x,
                  ./img/vegetables/webp/potatoes-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./img/vegetables/potatoes.png    1x,
                  ./img/vegetables/potatoes-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/potatoes-mob.png    1x,
                  ./img/vegetables/potatoes-mob-2x.png 2x
                "
                type="image/png"
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/potatoes.png"
                alt="Sweet potatoes"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">80 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Leek</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/leek.webp    1x,
                  ./img/vegetables/webp/leek-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/webp/leek-mob.webp    1x,
                  ./img/vegetables/webp/leek-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./img/vegetables/leek.png    1x,
                  ./img/vegetables/leek-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/leek-mob.png    1x,
                  ./img/vegetables/leek-mob-2x.png 2x
                "
                type="image/png"
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/leek.png"
                alt="Leek"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">50 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Mushrooms</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/mushrooms.webp    1x,
                  ./img/vegetables/webp/mushrooms-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/webp/mushrooms-mob.webp    1x,
                  ./img/vegetables/webp/mushrooms-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./img/vegetables/mushrooms.png    1x,
                  ./img/vegetables/mushrooms-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/mushrooms-mob.png    1x,
                  ./img/vegetables/mushrooms-mob-2x.png 2x
                "
                type="image/png"
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/mushrooms.png"
                alt="Mushrooms"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">40 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Corn</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/corn.webp    1x,
                  ./img/vegetables/webp/corn-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/webp/corn-mob.webp    1x,
                  ./img/vegetables/webp/corn-mob-2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  ./img/vegetables/corn.png    1x,
                  ./img/vegetables/corn-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/corn-mob.png    1x,
                  ./img/vegetables/corn-mob-2x.png 2x
                "
                type="image/png"
                media="(max-width: 767px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/corn.png"
                alt="Corn"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">60 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item vegetables-card-item-radish">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Radish</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>

            <picture class="vegetables-card-picture">
              <source
                srcset="
                  ./img/vegetables/webp/radish.webp    1x,
                  ./img/vegetables/webp/radish-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./img/vegetables/radish.png    1x,
                  ./img/vegetables/radish-2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <img
                class="vegetables-card-img"
                src="./img/vegetables/radish.png"
                alt="Radish"
                width="321"
                height="261"
              />
            </picture>

            <p class="vegetables-card-price">90 UAH / kg</p>
          </div>
        </a>
      </li>
    </ul>
    <button type="button" class="vegetables-btn btn" data-modal-open-four>
      <span>
        <svg class="vegetables-btn-icon" width="14" height="14">
          <use href="./img/icons.svg#right-arrow-down"></use>
        </svg>
      </span>
      ORDER
    </button>
  </div>
</section>
