<section class="vegetables">
  <div class="vegetables-container">
    <h2 class="vegetables-title">Organic vegetables</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-card-list list">
      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Carrot</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/carrot.png    1x,
                  ./img/vegetables/carrot-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/carrot-mob.png    1x,
                  ./img/vegetables/carrot-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/vegetables/carrot.png"
                alt="Carrot"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">100 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Brussel sprouts</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/brussel.png    1x,
                  ./img/vegetables/brussel-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/brussel-mob.png    1x,
                  ./img/vegetables/brussel-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/vegetables/brussel.png"
                alt="Brussel sprouts"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">80 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Tomato</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/tomato.png    1x,
                  ./img/vegetables/tomato-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/tomato-mob.png    1x,
                  ./img/vegetables/tomato-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/vegetables/tomato.png"
                alt="Tomato"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">40 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Eggplant</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/eggplant.png    1x,
                  ./img/vegetables/eggplant-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/eggplant-mob.png    1x,
                  ./img/vegetables/eggplant-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/vegetables/eggplant.png"
                alt="Eggplant"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">60 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Sweet potatoes</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/potatoes.png    1x,
                  ./img/vegetables/potatoes-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/potatoes-mob.png    1x,
                  ./img/vegetables/potatoes-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/vegetables/potatoes.png"
                alt="Sweet potatoes"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">80 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Leek</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/leek.png    1x,
                  ./img/vegetables/leek-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/leek-mob.png    1x,
                  ./img/vegetables/leek-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/vegetables/leek.png"
                alt="Leek"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">50 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Mushrooms</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/mushrooms.png    1x,
                  ./img/vegetables/mushrooms-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/mushrooms-mob.png    1x,
                  ./img/vegetables/mushrooms-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/vegetables/mushrooms.png"
                alt="Mushrooms"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">40 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Corn</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/corn.png    1x,
                  ./img/vegetables/corn-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables/corn-mob.png    1x,
                  ./img/vegetables/corn-mob-2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/vegetables/corn.png"
                alt="Corn"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">60 UAH / kg</p>
          </div>
        </a>
      </li>

      <li class="vegetables-card-item vegetables-card-item-radish">
        <a href="#" class="vegetables-card-link link">
          <div class="vegetables-card-wrap">
            <div>
              <h3 class="vegetables-card-title">Radish</h3>
              <p class="vegetables-card-desc">Plant</p>
            </div>
            <picture class="vegetables-card-img">
              <source
                srcset="
                  ./img/vegetables/radish.png    1x,
                  ./img/vegetables/radish-2x.png 2x
                "
                media="(min-width: 1280x)"
              />
              <img
                src="./img/vegetables/radish.png"
                alt="Carrot"
                width="321"
                height="261"
              />
            </picture>
            <p class="vegetables-card-price">90 UAH / kg</p>
          </div>
        </a>
      </li>
    </ul>
    <button type="button" class="vegetables-btn btn">ORDER</button>
  </div>
</section>
