<section class="vegetables">
  <div class="vegetables-container">
    <h2 class="vegetables-title">Organic vegetables</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-card-list list">
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Carrot</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Carrot"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">100 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Brussel sprouts</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Brussel sprouts"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">80 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Tomato</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Tomato"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">40 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Eggplant</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Eggplant"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">60 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Sweet potatoes</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Sweet potatoes"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">80 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Leek</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Leek"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">50 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Mushrooms</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Mushrooms"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">40 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Corn</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Corn"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">60 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-card-item">
        <div class="vegetables-card-wrap">
          <h3 class="vegetables-card-title">Radish</h3>
          <p class="vegetables-card-desc">Plant</p>
          <picture class="vegetables-card-img">
            <source
              srcset="
                ./img/vegetables/carrot.png    1x,
                ./img/vegetables/carrot-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/vegetables/carrot-mob.png    1x,
                ./img/vegetables/carrot-mob-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/vegetables/carrot.png"
              alt="Radish"
              width="321"
              height="261"
            />
          </picture>
          <p class="vegetables-card-price">90 UAH / kg</p>
        </div>
      </li>
    </ul>
    <button type="button" class="vegetables-btn">ORDER</button>
  </div>
</section>
