<section class="call-you-section" >
  <div class="call-you-content" >
    <h2 class="call-you-title" >Fresh Harvest Box has got you covered</h2>
    <p class="call-you-text" >
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <form action=""  class="call-you-form"  >
        <label for="" class="call-you-label" >
            <input type="tel"
            name="call-you-input"
            class="call-you-input"
            id="call-you-input"
            pattern=""
            >
        </label>
        <button type="submit" >Recall</button>
    </form>
  </div>
  <div></div>
</section>
