<div class="backdrop is-hidden" data-modal>
    <div class="modal-order">
        <div class="modal-order-wrap">
            <h1 class="modal-order-title">YOUR ORDER</h1>
            <button type="button" class="modal-order-close button" data-modal-close>
                <svg class="modal-order-close-icon" width="24" height="24">
                    <use href="./img/icons.svg#x"></use>
                </svg>
            </button>
        </div>
        <ul class="modal-order-list">
            <li class="modal-order-item">
                <form class="modal-order-item-form">
                    <h2 class="modal-order-item-title">Cabbage Basket</h2>
                    <p class="modal-order-item-text">Plant</p>
                    <img 
                    class="modal-order-item-img"
                    srcset="./img/your_order/order1cabbage@1x.png 1x, ./img/your_order/order1cabbage@2x.png 2x"
                    src="./img/your_order/order1cabbage@1x.png"
                    alt="Cabbage Basket"
                    width="94"/>
                    <div class="order-checkbox">
                        <input type="checkbox"
                        id="item-cabbage" 
                        value="true"
                        class="modal-order-checkbox visually-hidden" />
                        <label 
                            class="modal-label-checkbox" 
                            for="item-cabbage">
                            <div class="icon-label-checkbox">
                                <svg
                                    class="check-icon"
                                    width="16"
                                    height="16"
                                >
                                    <use
                                        href="./img/icons.svg#checked"
                                    ></use>
                                </svg>
                            </div>
                        </label>
                    </div>
                </form>
            </li>
            <li class="modal-order-item">
                <form class="modal-order-item-form">
                    <h2 class="modal-order-item-title">Tomato Basket</h2>
                    <p class="modal-order-item-text">Plant</p>
                    <img 
                    class="modal-order-item-img"
                    srcset="./img/your_order/order2tomato@1x.png 1x, ./img/your_order/order2tomato@2x.png 2x"
                    src="./img/your_order/order2tomato@1x.png"
                    alt="Tomato Basket"
                    width="94"/>
                    <div class="order-checkbox">
                        <input type="checkbox"
                        id="item-tomato" 
                        value="true"
                        class="modal-order-checkbox visually-hidden" />
                        <label 
                            class="modal-label-checkbox" 
                            for="item-tomato">
                            <div class="icon-label-checkbox">
                                <svg
                                    class="check-icon"
                                    width="16"
                                    height="16"
                                >
                                    <use
                                        href="./img/icons.svg#checked"
                                    ></use>
                                </svg>
                            </div>
                        </label>
                    </div>
                </form>
            </li>
            <li class="modal-order-item">
                <form class="modal-order-item-form">
                    <h2 class="modal-order-item-title">Vegetables Basket</h2>
                    <p class="modal-order-item-text">Plant</p>
                    <img 
                    class="modal-order-item-img"
                    srcset="./img/your_order/order3vegetables@1x.png 1x, ./img/your_order/order3vegetables@2x.png 2x"
                    src="./img/your_order/order3vegetables@1x.png"
                    alt="Vegetables Basket"
                    width="94"/>
                    <div class="order-checkbox">
                        <input type="checkbox"
                        id="item-vegetables" 
                        value="true"
                        class="modal-order-checkbox visually-hidden" />
                        <label 
                            class="modal-label-checkbox" 
                            for="item-vegetables">
                            <div class="icon-label-checkbox">
                                <svg
                                    class="check-icon"
                                    width="16"
                                    height="16"
                                >
                                    <use
                                        href="./img/icons.svg#checked"
                                    ></use>
                                </svg>
                            </div>
                        </label>
                    </div>
                </form>
            </li>
        </ul>
        <div class="modal-order-form-wrap">
            <form class="modal-order-form">
                <label for="user-name" class="modal-order-form-label">
                    <input id="user-name" name="user-name" class="modal-order-form-input" type="text" placeholder="Enter full name..." pattern="[A-Za-z]" required/>
                </label>
                <label for="user-email" class="modal-order-form-label">
                    <input id="user-email" name="user-email" class="modal-order-form-input" type="email" placeholder="Enter email..." pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required/>
                </label>
                <label for="user-card" class="modal-order-form-label">
                    <input id="user-card" name="user-card" class="modal-order-form-input" type="text" placeholder="Enter card..." pattern="[0-9]{16,}" title="Card number must not be 16 digits" required/>
                </label>
                <label for="user-comments" class="modal-order-form-label-textarea">
                    <textarea id="user-comments" name="user-comments" class="modal-order-form-textarea" placeholder="Enter comments..."></textarea>
                </label>
            </form>
            <button class="modal-order-sibmit-button" type="submit">Submit</button>
            <img 
                class="modal-order-form-img"
                srcset="./img/your_order/order-orange-girl@1x.png 1x, ./img/your_order/order-orange-girl@2x.png 2x"
                src="./img/your_order/order-orange-girl@1x.png"
                alt="Order girl"
                width="444"/>
        </div>
    </div>
</div>
