<section>
  <div>
    <h1>Your Order</h1>
    <svg>
      <use></use>
    </svg>
  </div>
  <ul>
    <li>
      <form>
        <h2>Cabbage Basket</h2>
        <p>Plant</p>
        <img src="" alt="" />
        <label>
          <input type="checkbox" checked />
        </label>
      </form>
    </li>
    <li>
      <form>
        <h2>Tomato Basket</h2>
        <p>Plant</p>
        <img src="" alt="" />
        <label>
          <input type="checkbox" />
        </label>
      </form>
    </li>
    <li>
      <form>
        <h2>Vegetables Basket</h2>
        <p>Plant</p>
        <img src="" alt="" />
        <label>
          <input type="checkbox" />
        </label>
      </form>
    </li>
  </ul>
  <form>
    <label>
      <input type="text" placeholder="Enter full name..." />
    </label>
    <label>
      <input type="email" placeholder="Enter email..." />
    </label>
    <label>
      <input type="number" placeholder="Enter card..." />
    </label>
    <label>
      <textarea placeholder="Enter comments..." />
    </label>
    <button type="submit">Submit</button>
  </form>
</section>
