<div class="backdrop is-hidden" data-modal>
    <div class="modal-order">
        <div class="modal-order-wrap">
            <h2 class="modal-order-title">YOUR ORDER</h2>
            <button type="button" class="modal-order-close" data-modal-close>
                <svg class="modal-order-close-icon" width="24" height="24">
                    <use href=""></use>
                </svg>
            </button>
        </div>
        <ul class="modal-order-list">
            <li class="modal-order-item">
                <form>
                    <h2 class="modal-order-item-title">Cabbage Basket</h2>
                    <p class="modal-order-item-text">Plant</p>
                    <img 
                    class="modal-order-item-img"
                    srcset=""
                    src=""
                    alt="Cabbage Basket"
                    width="94"/>
                    <label>
                        <input type="checkbox" />
                    </label>
                </form>
            </li>
            <li class="modal-order-item">
                <form>
                    <h2 class="modal-order-item-title">Tomato Basket</h2>
                    <p class="modal-order-item-text">Plant</p>
                    <img 
                    class="modal-order-item-img"
                    srcset=""
                    src=""
                    alt="Tomato Basket"
                    width="94"/>
                    <label>
                        <input type="checkbox" />
                    </label>
                </form>
            </li>
            <li class="modal-order-item">
                <form>
                    <h2 class="modal-order-item-title">Vegetables Basket</h2>
                    <p class="modal-order-item-text">Plant</p>
                    <img 
                    class="modal-order-item-img"
                    srcset=""
                    src=""
                    alt="Vegetables Basket"
                    width="94"/>
                    <label>
                        <input type="checkbox" />
                    </label>
                </form>
            </li>
        </ul>
        <form>
            <label>
                <input type="text" placeholder="Enter full name..." />
            </label>
            <label>
                <input type="email" placeholder="Enter email..." />
            </label>
            <label>
                <input type="text" placeholder="Enter card..." />
            </label>
            <label>
                <textarea placeholder="Enter comments..."></textarea>
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
