.hiw {
    width: 290px;
    margin: 0 auto;
}

.hiw-main {}

.hiw-main-title {
    color: #141414;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 20px;
}

.hiw-main-img {
    margin-bottom: 20px;
}

.hiw-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 80px;
    font-size: 14px;
    font-family: DM Sans;
    line-height: 1.3;
    letter-spacing: -0.56px;
}

.hiw-text {
    font-family: 'DM Sans', sans-serif;
}

.hiw-second {
    position: relative;
    height: 661px;
    border-radius: 40px;
    background-color: var(--secondary-bg-cl);
    padding: 40px 20px;
    margin-bottom: 80px;
    background-image: url(../img/how-it-works/bg-dot-mobile@1x.png);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hiw-second {
        background-image: url(../img/how-it-works/bg-dot-mobile@2x.png);
    }
}

.hiw-second-title {
    color: #141414;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.hiw-list {
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 54px;
    padding: 0;
    font-size: 16px;
}

.hiw-list-item {
    color: #141414;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.56px;
    position: relative;
    margin: 0;
    padding: 0 0 20px 0;
    max-width: 176px;
}

.hiw-list-item::before {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    left: -54px;
    width: 40px;
    height: 38px;
    background: var(--primary-bg-cl);
    color: var(--icon-bg-cl);
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    border-radius: 50%;
}

.hiw-list-item:first-child::before,
.hiw-list-item:last-child::before {
    top: 10px;
}

.hiw-second-img {
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 375px) {
    .hiw {
        width: 335px
    }
}

@media screen and (min-width: 768px) {
    .hiw {
        width: 704px;
    }

    .hiw-main-item {
        display: flex;
        margin-top: 100px;
    }

    .hiw-main-title {
        max-width: 386px;
        margin: 0;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -1.6px;
        text-transform: uppercase;
    }

    .hiw-main-text {
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 20px;
        margin-bottom: 80px;
        font-size: 18px;
        font-family: DM Sans;
        line-height: 1.33;
        letter-spacing: -0.72px;
    }

    .hiw-text {
        width: 317px;
    }

    .hiw-second {
        height: 488px;
        border-radius: 80px;
        background-color: var(--secondary-bg-cl);
        padding: 0;
        padding-top: 80px;
        margin-bottom: 100px;
        background-image: url(../img/how-it-works/bg-dot-tablet@1x.png);
        display: flex;
        flex-direction: row-reverse;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hiw-second {
            background-image: url(../img/how-it-works/bg-dot-tablet@2x.png);
        }
    }

    .hiw-second-item {
        margin-left: 390px;
    }

    .hiw-second-img {
        position: absolute;
        margin-bottom: 0;
        right: 354px;
    }
}