@import url(./modern-normalize.css);
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./how_it_works.css');
@import url('./vegetables.css');
@import url('./we_will_call_you.css');
@import url('./your-order.css');


@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: local('DM Sans Regular'), url('DMSans-Regular.woff') format('woff');
  src: url(../fons/DMSans-Regular.woff);
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: local('DM Sans Medium'), url('DMSans-Medium.woff') format('woff');
  src: url(../fons/DMSans-Medium.woff);
}


@font-face {
  font-family: 'DM Sans Medium Italic';
  font-style: normal;
  font-weight: 500;
  src: local('DM Sans Medium Italic'), url('DMSans-MediumItalic.woff') format('woff');
  src: url(../fons/DMSans-MediumItalic.woff);
}


@font-face {
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('DM Sans Bold'), url('DMSans-Bold.woff') format('woff');
  src: url(../fons/DMSans-Bold.woff);
}

:root {
  font-family: 'DM Sans';
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  color: #141414;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

/* text-colors */
--primary-txt-cl:#141414;
--secondary-txt-cl: #FFFFFF;
--title-txt-cl: #EAF7E5;
--accent-txt-cl: #FC8A11;
/* bg-colors */
--primary-bg-cl:#A1C487;
--secondary-bg-cl:#FAF3E7;
--accent-bg-cl: #FC8A11;
--card-bg-cl:#EAF7E5;
--icon-bg-cl:#141414;
--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
--logo-bg-cl: #77AC63
}
