@import url(./modern-normalize.css);
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./how_it_works.css');
@import url('./vegetables.css');
@import url('./we_will_call_you.css');
@import url('./your-order.css');


@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: local('DM Sans Regular'), url('DMSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: local('DM Sans Medium'), url('DMSans-Medium.woff') format('woff');
}


@font-face {
  font-family: 'DM Sans Medium Italic';
  font-style: normal;
  font-weight: 500;
  src: local('DM Sans Medium Italic'), url('DMSans-MediumItalic.woff') format('woff');
}


@font-face {
  font-family: 'DM Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('DM Sans Bold'), url('DMSans-Bold.woff') format('woff');
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
