/*!==============MOBILE============= */

.vegetables {
  padding-bottom: 80px;
}

.vegetables-container {
  width: 100%;
  max-width: 335px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.vegetables-title {
  margin-bottom: 14px;
  text-align: center;
}

.vegetables-text {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 335px;
  text-align: center;
}

.vegetables-card-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list {
}

.vegetables-card-item {
}

@media screen and (max-width: 1279px) {
  .vegetables-card-item-radish {
    display: none;
  }
}

.vegetables-card-wrap {
  padding: 40px 20px 20px;
  border-radius: 20px;
  background-color: #eaf7e5;
}

.vegetables-card-title {
  margin-bottom: 8px;
}

.vegetables-card-desc {
  margin-bottom: 36px;
}
.vegetables-card-img {
  margin-bottom: 22px;
}

.vegetables-card-price {
}

.vegetables-btn {
}

/*!==============TABLET============= */

@media screen and (min-width: 768px) {
  .vegetables {
    padding-bottom: 100px;
  }

  .vegetables-container {
    max-width: 734px;
  }

  .vegetables-text {
    max-width: 562px;
  }

  .vegetables-card-list {
  }

  .vegetables-card-item {
    width: calc((100% - 20px) / 2);
  }
}

/*!==============DESKTOP============= */

@media screen and (min-width: 1280px) {
  .vegetables {
    padding-bottom: 124px;
  }

  .vegetables-container {
    max-width: 1246px;
  }

  .vegetables-card-list {
    gap: 24px;
  }

  .vegetables-card-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
